        
    body {
        background-color:rgb(255, 255, 255);
        font-size: 20px;
        text-indent: 30px;
      }

      p {
        font-family: fantasy;
      }

      h1 {
        color:purple;
        font-size: 45px;
        text-decoration: underline;
        text-decoration-color: black;
      }

      #Sobre-mim {
        text-indent: 0;
        font-size: larger;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }

      li {
        font-weight: bold;
        line-height: 50px;
        text-decoration: underline;
        text-decoration-color: purple ;
      }
